body{
    background-image:url('cowboy_bg.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading{
    font-size: 24px;

}

#header_div
{
    background-color: rgb(255, 167, 4);
}

.btn-light{
    background-color: rgb(255, 132, 0);
    color: rgb(255, 230, 0);
}

.btn-success:hover
{
    background-color: rgb(43, 118, 10);
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(255, 98, 0);}
    to {box-shadow: 1px 1px 38px yellow;}
}
